// Определение цветов на основе элементов
$body-background-color: #FDF0D5; // Светло-бежевый фон
$heading-color: #780000; // Темно-красный для заголовков
$card-background-color: white; // Белый фон карточек
$card-title-color: #003049; // Темно-синий для заголовков карточек
$card-price-color: #C1121F; // Красный для цены
$button-background-color: #003049; // Темно-синий для кнопок
$button-hover-background-color: #669BBC; // Голубой при наведении на кнопку
$button-secondary-background-color: #95a5a6; // Светло-серый для вторичных кнопок
$button-secondary-hover-background-color: #7f8c8d; // Темно-серый при наведении на вторичные кнопки
$menu-background-color: #780000; // Темно-красный для фона меню
$menu-hover-background-color: #C1121F; // Голубой при наведении на элементы меню
$input-border-color: #95a5a6; // Светло-серый для полей ввода
$input-background-color: #FFFFFF; // Белый фон полей ввода
